@model List<Participantes>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Resultados</h1>
</div>


<div style="margin-top: 30px; text-align: right;">
    <a asp-controller="Home" asp-action="Form"><button type="button" class="btn btn-warning">Nuevo Registro</button></a>
</div>


<div>
    
    @if (Model.Count == 0)
    { 
        <strong style="color: red;">No se han registrado participantes.</strong>
    }
    
</div>


<div style="margin-top: 25px;">

    <table class="col-12 table table-hover" style="text-align: center;">

        <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tiempo (en min)</th>
                <th>Distancia (en km)</th>
                <th>Lugar</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody style="background-color: #fff;">

            @foreach (var participantes in Model)
            {

                <tr>
                    <td>1</td>
                    <td>@participantes.nombre</td>
                    <td>@participantes.apellido</td>
                    <td>@participantes.tiempo</td>
                    <td>@participantes.distancia</td>
                    <td>@participantes.lugar</td>
                    <td>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#detalle">Ver Detalle</button>
                    </td>
                </tr>

            }

        </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="detalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detalleLabel" aria-hidden="true">
        <div class="modal-dialog-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalle">NOMBRE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>ESTUDIANTE</p>
                    <p>CORRO EN LIMA</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

</div>
